<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Home - Brand</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
<link rel="stylesheet" href="assets/css/Hero-Clean-Reverse-images.css">
<link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
<div class="container"><a class="navbar-brand" href="index.html">PAYWISE</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
<div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav ms-auto">
<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
<li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
<li class="nav-item"><a class="nav-link" href="contact.html">Contact us</a></li>
<li class="nav-item"></li>
</ul>
</div>
</div>
</nav>
<section class="py-4 py-xl-5"></section>
<section class="py-4 py-xl-5" style="font-family: Adamina, serif;color: var(--bs-secondary-bg-subtle);">
<div class="container py-4 py-xl-5">
<div class="row gy-4 gy-md-0">
<div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
<div style="max-width: 350px;">
<h2 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h2>
<p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
</div>
</div>
<div class="col-md-6">
<div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
</div>
</div>
</div>
<div class="container h-100">
<div class="text-white bg-primary border rounded border-0 p-4 py-5">
<div class="row h-100">
<div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
<div>
<h1 class="text-uppercase fw-bold text-white mb-3" style="font-family: 'Open Sans', sans-serif;">"Seu apoio faz toda a diferença. Junte-se a nós e faça parte da mudança que o mundo precisa."</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<header class="masthead" style="background-image:url('home-bg.jpg');"></header>
<figure class="figure">
<div class="ratio ratio-16x9"><iframe></iframe></div>
</figure>
<div class="overlay"></div>
<div class="container">
<div class="row fs-5">
<div class="col">
<picture style="width: 1000;height: 600;"><img width="600" height="600" style="width: 600px;height: 600px;" src="assets/img/clipboard-image.png"></picture>
</div>
<div class="col-md-10 col-lg-8 col-xl-6">
<div class="post-preview"><a href="#">
<h2 class="post-title"><br><span style="color: rgb(243, 246, 248);">CONHEÇA A CAUSA</span><br><br></h2>
<h4 class="text-center bg-black shadow-none focus-ring d-inline-flex justify-content-center post-subtitle" style="font-family: Lora, serif;"><br><span style="color: rgb(253, 255, 255);">Você tem o poder de fazer a diferença! Sua doação pode mudar vidas e iluminar o caminho de quem precisa. Seu ato de generosidade é capaz de despertar esperança, alimentar sonhos e transformar realidades. Lembre-se de que a bondade não conhece limites, e cada pequena contribuição conta. Ao doar, você se torna parte de uma corrente do bem, unindo-se a outros corações solidários. Seja luz na vida de alguém, estenda a mão e compartilhe o que você tem. Juntos, podemos construir um mundo mais amoroso, onde a compaixão prevalece. Não espere, doe e inspire mudanças hoje mesmo!</span></h4>
</a></div>
<div class="post-preview"></div>
<hr>
<div class="post-preview"><a href="#"></a></div>
<div class="clearfix"><button class="btn btn-primary float-end" type="button">DOE AQUI</button></div>
</div>
</div>
</div>
<footer>
<section class="position-relative py-4 py-xl-5">
<div class="container position-relative">
<div class="row d-flex justify-content-center">
<div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
<div class="card mb-5">
<div class="card-body p-sm-5">
<h2 class="text-center mb-4">Contact us</h2>
<form method="post">
<div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name"></div>
<div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email"></div>
<div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="6" placeholder="Message"></textarea></div>
<div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="container">
<div class="row">
<div class="col-md-10 col-lg-8 mx-auto">
<ul class="list-inline text-center">
<li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
<li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
<li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
</ul>
<p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2023</p>
</div>
</div>
</div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/clean-blog.js"></script>
</body>

</html> 